.link {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav {
  padding: 1rem;
}

nav img {
  height: auto;
  margin-left: 5rem;
  margin-top: -2rem;
  height: 5.12rem;
  width: 5.12rem;
  align-self: flex-start;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burger .line {
  width: 2rem;
  height: 0.25rem;
  border: none;
  border-radius: 2px;
  transition: all 0.3s linear;
  padding: 0;
  margin: 0.25rem 0;
  cursor: default;
  z-index: 10;
}
@media (max-width: 1024px) {
  .burger {
    display: flex;
  }

  nav img {
    height: auto;
    margin-left: 3rem;
    margin-top: -4rem;
    margin-bottom: 2rem;
    height: 5.12rem;
    width: 5.12rem;
    align-self: flex-start;
  }

  nav {
    margin-top: -1rem;
  }

  .link {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 2rem;
    transition: right 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .link.active {
    right: 0;
  }

  .burger.active .line:first-child {
    transform: rotate(45deg) translate(0.5rem, 0.5rem);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:last-child {
    transform: rotate(-45deg) translate(0.5rem, -0.5rem);
  }
}

h1 {
  color: var(--colortext);
  text-align: center;
  justify-content: center;
  font-size: 3rem;
}

@media (max-width: 450px) {
  nav img {
    height: auto;
    margin-left: rem;
    margin-top: -10rem;
    margin-bottom: 6rem;
    height: 5.12rem;
    width: 5.12rem;
    align-self: flex-start;
  }
}

h1 {
  margin-top: 4rem;
}

@media (max-width: 650px) {
  nav img {
    height: auto;
    margin-left: 9rem;
    margin-top: -10rem;
    margin-bottom: 6rem;
    height: 5.12rem;
    width: 5.12rem;
    align-self: flex-start;
  }
}

h1 {
  margin-top: 4rem;
}

@media (max-width: 450px) {
  nav img {
    height: auto;
    margin-left: 11rem;
    margin-top: -10rem;
    margin-bottom: 6rem;
    height: 5.12rem;
    width: 5.12rem;
    align-self: flex-start;
  }
}
